nav {
    padding-left: 2em;
    padding-right: 1em;
    position: fixed;
    z-index: 1;
}

a.brand-logo img {
    width: 80%;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.affiliates {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.affiliates img {
    box-sizing: content-box;
    height: 96px;
    width: auto;
    padding: 16px;
}

.banner-caption {
    font-size: 1.4em;
    font-style: italic;
}

.caption-highlight {
    color: blue;
    font-size: 1.1em;
    font-weight: bold;
}

.intro-text {
    text-align: justify;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
}

.intro-text p {
    font-size: 1.15em;
    line-height: 2em;
}

.intro-text h4 {
    text-transform: capitalize;
    font-weight: 500;
    color: #0288d1;
    text-align: center;
}

.work-package {
    font-size: 1.15em;
    line-height: 2em;
    padding: 2em;
}

.work-package header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 115%;
    color: #0288d1;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
}

p.phd-position {
    /* font-style: italic; */
    font-weight: bold;
    font-size: 125%;
    line-height: unset;
    color: #1565c0 !important;
}

.candidate-photo {
    width: 128px;
    height: 160px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGhlaWdodD0nMjAnIHdpZHRoPScxNicgdmVyc2lvbj0nMS4xJz48cGF0aCBzdHlsZT0nZmlsbDojYTdhN2E3JyBkPSdNIDEwLjIxODg1OCwxMy45NDQ4MTIgQyAxMC4xMTg0MjIsMTMuOTExOTY1IDkuNDgzNTkzOCwxMy42MjU4MTkgOS44ODAyODI2LDEyLjQxOTk2MSBsIC0wLjAwNTY5LDAgQyAxMC45MDg2NDEsMTEuMzU0OTY1IDExLjY5ODg2LDkuNjQxMjQ0NSAxMS42OTg4Niw3Ljk1NDA1MzkgYyAwLC0yLjU5NDI2ODcgLTEuNzI1MDkwMywtMy45NTQyNTQyIC0zLjczMDAxMDgsLTMuOTU0MjU0MiAtMi4wMDYxODQsMCAtMy43MjE3OTk3LDEuMzU5MzUzOCAtMy43MjE3OTk3LDMuOTU0MjU0MiAwLDEuNjk0MTM4OSAwLjc4NTc5NzUsMy40MTQ4MDgxIDEuODI2MTU4LDQuNDc3Mjc3MSAwLjQwNTUzMjEsMS4wNjM3MzIgLTAuMzE5NjI1LDEuNDU4NTI2IC0wLjQ3MTIyNTgsMS41MTM0ODEgLTEuNDEzNjc3NSwwLjQ1NzMzIC01LjI1ODY1MjgzLDIuNzM2Mzk1IC01LjE5ODAxMjUxLDYuMDU1MTg5IGwgMTUuMTkxNjYzODEsMCBjIDAuMDY3NTksLTMuMTcwOTgzIC0yLjk3MzkwMywtNS4yMjk1OTYgLTUuMzc3NDA3LC02LjA1NTE4OScgLz48L3N2Zz4g");
    background-size: 100%;
    float: left;
    margin: 0 12px 12px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
   margin-bottom: 3em !important;
   overflow: auto;
}

.card::after{
    content: "";
    clear: both;
    display: table;
}