nav {
    padding-left: 2em;
    padding-right: 1em;
    position: fixed;
}

a.brand-logo img {
    width: 80%;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.affiliates {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.affiliates img {
    box-sizing: content-box;
    height: 96px;
    width: auto;
    padding: 16px;
}

.banner-caption {
    font-size: 1.4em;
    font-style: italic;
}

.caption-highlight {
    color: blue;
    font-size: 1.1em;
    font-weight: bold;
}

.intro-text {
    text-align: justify;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
}

.intro-text p {
    font-size: 1.15em;
    line-height: 2em;
}

.intro-text h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: #0288d1;
    text-align: center;
}

.work-package {
    font-size: 1.15em;
    line-height: 2em;
    padding: 2em;
}

.work-package header {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 115%;
    color: #0288d1;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
}

.phd-position {
    font-style: italic;
    font-weight: bold;
    color: #1565c0 !important;
}

.card {
   margin-bottom: 3em !important;
}
